#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.neonText {
  animation: flicker 1.5s infinite alternate;
  color: #fff;
}

.neonText:hover {
  color: #c6edff;
}

.linkedin__link {
  font-size: 2rem;
}

/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

/* .App {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.53846vw;
  background-color: #fff;
  position: relative;
} */


.skills {
  text-align: left;
  display: inline-block;
  color: #d3d0c8;
  background-color: #2d2d2d;
  border-radius: 5px;
  padding: 25px 35px;
  font-size: 18px;
  margin-bottom: 30px;
}

.let {
  color: #c9c;
}

.body-skills {
  color: #9c9;
}
